<div class="container p-lg">
    <div ng-repeat="wdgt in dCtrl.allWidgets">
        <!-- Card 01 -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="wdgt.card_type == 'card01'">
            <div class="card">
                <div ng-include="'views/' + wdgt.render_template + '.html'"></div>
            </div>
        </div>

        <!-- Card 02 -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="wdgt.card_type == 'card02'">
            <div ng-init="getDataFromDataUrl(wdgt.data_url)">
                <div ng-if="dCtrl.dataResponseSet != null">
                    <div ng-repeat="record in dCtrl.dataResponseSet">
                        <div ng-include="'views/' + wdgt.unit_template_url + '.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 04 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-if="wdgt.card_type == 'card04'">
            <div class="card text-center">
                {{wdgt.text_field | limitTo: 10}}<span ng-if="wdgt.text_field.length > 10">...</span>
            </div>
        </div>
    </div>
</div>
