<div oc-lazy-load="[]">
    <div ng-controller="LoginController as lCtrl">
        <div class="container h-100 col-lg-hidden col-xl-hidden">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-12 card">
                    <div class="col-xs-3 col-sm-3 col-md-3"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 mx-auto">
                        <img src="images/locus_logo.png" alt="Locus">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <form>
                <div class="form-group padding-form-fields">
                    <input type="email" class="form-control border-color-primary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                </div>
                <div class="form-group padding-form-fields">
                    <input type="password" class="form-control border-color-primary" id="exampleInputPassword1" placeholder="Password">
                </div>

                <div class="form-check padding-form-fields">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        Remember Me
                        <span class="form-check-sign">
                    <span class="check"></span>
                </span>
                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block apply-font">Login</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="#">Forgot Password ?</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <hr data-content="AND" class="hr-text">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <button type="button" class="btn btn-lg btn-block btn-outline-success">Login With Google</button>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="text-center">New to Locus ?</div>
            <div class="text-center"><a>REGISTER</a></div>
        </div>
    </div>
</div>
