//@import "mobile-angular-ui/src/less/mobile-angular-ui-base.less";
@import "mixins.less";
@import "variables.less";

@common-text-color: #000428;

body {
  font-family: 'Poppins', sans-serif;
  color: @common-text-color !important;
}

.apply-font {
  font-family: 'Poppins', sans-serif;
}

.btn {
  text-transform: uppercase;
  font-size: 20px;
}
