.text-black {
  color: #000 !important;
}

.form-group {
  .border-color-primary {
    border-color: #000;
  }
}

.padding-form-fields {
  padding: 10px 0px;
}

.btn-success {
  background: linear-gradient(to right, #38d090, #a8e063);
}

